/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #000;
    font-family:
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
  }
   */
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide.slider1 {
    /* text-align: center; */
    /* font-size: 30px; */
    background: #FFE5E5;
    padding:20px;
  
    /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .swiper-slide.slider1 img {
    display: block;
    margin: auto;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  } 
  
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-prev {
  left: 20px;
}

.custom-next {
  right: 20px;
}

/* الشكل الأساسي */
.mySwiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc;   /* لون رمادي عادي */
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin: 0 8px !important;
 
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
  left:-35%;
  bottom: 50px;
}
/* الشكل النشط */
.mySwiper .swiper-pagination-bullet-active {
  background-color: var(--light-orange)!important; /* الدايرة الداخلية */
  position: relative;
}

.mySwiper .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;   /* حجم الدايرة الكبيرة */
  height: 24px;
  border: 2px solid var(--light-orange); /* البوردر البرتقالي */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}